Tkinter: Tạo giao diện người dùng (GUI) trong Python.
Pillow (PIL): Xử lý hình ảnh và hiển thị trong GUI.
os: Làm việc với hệ thống tệp và thư mục.
subprocess: Thực thi các lệnh hệ thống và các tiến trình ngoài.
sys: Xử lý tham số dòng lệnh và các tác vụ hệ thống.
ast: Phân tích cú pháp mã nguồn Python thành cây cú pháp trừu tượng.
pandas: Phân tích và xử lý dữ liệu dạng bảng (DataFrame).
matplotlib: Vẽ đồ thị và biểu đồ.
ttk: Tạo các widget giao diện đẹp và hiện đại hơn cho Tkinter.
csv: Đọc và ghi dữ liệu dạng CSV.
mplcursors: Hiển thị thông tin chi tiết khi di chuột qua các điểm trên đồ thị.
numpy: Thực hiện các phép toán trên mảng và ma trận.
seaborn: Vẽ đồ thị thống kê đẹp mắt. 
pathlib : Xử lý đường dẫn tệp và thư mục.
csv : Đọc và ghi dữ liệu dạng CSV.